%h2 Resend Confirmation

%p
  Didn't receive your confirmation message? Enter your email address here to
  request a new one.

= turbo_form resource, url: confirmation_path(resource_name) do |f|

  = f.input :email, required: false
  = f.submit 'Resend Confirmation'

= render 'users/shared/links'
