.container
  .row
    .col-md-12
      %h1= InterfaceType.model_name.human(count: 2)

  .row
    .col-md-12
      %ul
        - @interface_types.each do |interface_type|
          %li= link_to h(interface_type.name), url_for(interface_type)
