# Must always be local
/.bundle/
/node_modules/
/public/assets/
/tmp/*
/vendor/bundle/
/vendor/ruby/

# Never store or copy
.DS_Store
.\#*
**.orig
**.swp
*~
\#*\#

# Used by host but not container
/.git
/.gitignore
/Dockerfile
