# Must always be local
/.bundle/
/jest_*/
/node_modules/
/public/assets/
/public/system/
/tmp/*
/vendor/bundle/
/vendor/ruby/

# Never store or copy
.DS_Store
.\#*
**.orig
**.swp
*~
\#*\#

# Build artifacts
/checkstyle-*.xml
/coverage/
/junit.xml
/rspec.xml

# Working files and data
/.env
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/log/*
