.container
  .row
    .col-md-12
      %h1= h @host_property.key

  .row
    .col-md-12
      = render partial: 'shared/edit_delete', locals: { record: @host_property }

      %p= h @host_property.value
