.container
  .row
    .col-md-12
      %h1= h @host_property.key

  .row
    .col-md-12
      - if policy(@host_property).update?
        %p
          = link_to t(:edit), edit_host_property_path(@host_property),
                    class: 'btn btn-warning'
          = link_to t(:delete), url_for(@host_property), method: :delete,
                    data: { confirm: t(:confirm_delete,
                            thing: HostProperty.model_name.human.downcase) },
                    class: 'btn btn-danger'

      %p= h @host_property.value
