.nested-fields.border.border-dark.rounded.mb-2.p-2
  .row
    .col-md-6
      = f.association :device_property_type
    .col-md-6
      = f.input :value

  .clearfix
    .float-right
      &middot;
      = link_to_remove_association f do
        = t(:remove_h, thing: DeviceProperty.model_name.human)
