.container
  .row
    .col-md-12
      %h1= h @interface_property.key

  .row
    .col-md-12
      = render partial: 'shared/edit_delete',
        locals: { record: @interface_property }

      %p= h @interface_property.value
