<%= error_messages_for 'host_service' %>

<!--[form:host_service]-->
<p><label for="host_service_service">Service</label><br/>
<%= collection_select 'host_service', 'service_id', @services,
  'id', 'name' %></p>
<!--[eoform:host_service]-->

