<p class="small">Created <%= time_ago_in_words @host_service.created_at
  %> ago.&nbsp; Last updated <%= time_ago_in_words @host_service.updated_at
  %> ago.</p>


<p>
  <% if logged_in? -%>
    <%= link_to 'Destroy', { :action => 'destroy', :id => @host_service.id },
      :confirm => 'Are you sure?' %> |
    <%= link_to 'Edit', :action => 'edit', :id => @host_service.id  %>
  <% end -%>
</p>
