@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// make all images responsive by default
img {
  @extend .img-responsive;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
.error-explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
.error-explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  background: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #eee;
}

#map {
    height: 70vh;
}

.field_with_errors {
  @extend .has-error;
}

.vertical-align {
    display: flex;
    align-items: baseline;
}
