- @page_heading = t('users')

%h2= t('find users')

%p.small= t :total_numbered, :count => User.count

%ul
  - @users.each do |user|
    %li{:id => "user_#{user.to_param}"}
      = link_to h(user.name), user_path(user)
