- if policy(record).update?
  %p
    = link_to t(:edit), polymorphic_url(record, action: :edit),
      class: 'btn btn-warning'
    = link_to t(:delete), url_for(record), method: :delete,
      class: 'btn btn-danger',
      data: { confirm: t(:confirm_delete,
        thing: record.model_name.human.downcase) }
