- content_for :meta_title, DeviceType.model_name.human(count: 2)

%h1= DeviceType.model_name.human(count: 2)

%ul
  - @device_types.order(:code).each do |device_type|
    %li
      = link_to h(device_type.code), url_for(device_type)
      \-
      = h(device_type.name)
