- content_for :title, DeviceType.model_name.human(count: 2)

%h1= DeviceType.model_name.human(count: 2)

%ul
  - @device_types.each do |device_type|
    %li= link_to h(device_type.name), url_for(device_type)
