- content_for :title, @device_type.name

%h1= h @device_type.name

%p= h @device_type.code

- unless @device_type.devices.empty?
  %h2= Device.model_name.human(count: 2)

  %ul
    - @device_type.devices.each do |device|
      %li= link_to device.name, url_for(device)
