%h2 Reset Password

%p Forgot your password? Enter your email address here to reset it.

= simple_form_for resource, as: resource_name,
  url: password_path(resource_name), method: :post,
  turbolinks_form: true do |f|

  = f.input :email, required: false
  = f.submit 'Reset Password'

= render 'users/shared/links'
