<% form_tag do -%>
  <%= render :partial => 'form' %>

  <p><%= submit_tag 'Save' %></p>
<% end -%>

<p><%= link_to 'Cancel', :action => 'show',
    :node_code => @interface.host.node.code,
    :hostname => @interface.host.name,
    :code => @interface.code %></p>
