<%= error_messages_for 'node_maintainer' %>

<!--[form:node_maintainer]-->
<p><label for="node_maintainer_user_id">User</label><br/>
<%= collection_select 'node_maintainer', 'user_id', @users,
  'id', 'login' %></p>

<p><label for="node_maintainer_description">Description</label><br/>
<%= text_area 'node_maintainer', 'description'  %></p>
<!--[eoform:node_maintainer]-->

