<%= error_messages_for 'zone_maintainer' %>

<!--[form:zone_maintainer]-->
<p><label for="zone_maintainer_user_id">User</label><br/>
<%= collection_select 'zone_maintainer', 'user_id', @users,
  'id', 'login' %></p>

<p><label for="zone_maintainer_description">Description</label><br/>
<%= text_area 'zone_maintainer', 'description',
  'cols' => 60, 'rows' => 4 %></p>

<!--[eoform:zone_maintainer]-->
