%p Welcome #{@email}!

%p
  Thank you for registering with our site. You may now confirm your email
  address by following the link below:

%p= link_to 'Confirm Address', user_confirmation_url(confirmation_token: @token)

%p If you did not initiate this action, please disregard this message.
