%p Hello #{@resource.email}!

%p
  Your account has been locked due to an excessive number of unsuccessful
  sign in attempts.

%p Follow the link below to unlock your account:

%ul
  %li= link_to 'Unlock Account', unlock_url(@resource, unlock_token: @token)
